@include mediaXl {
}

@include mediaLg {
}

@include mediaMd {
  body#bg-img {
    background: $light-color;
  }
  // Menu
  div.menu-branding,
  ul.menu-nav {
    float: none;
    width: 100%;
    min-height: 0;

    &.show {
      transform: translate3d(0, 0, 0);
    }
  }

  .menu-nav {
    height: 65vh;
    transform: translate3d(0, 100%, 0);
    align-items: center;
    justify-content: start;
    padding-top: 4rem;
  }
  .menu-branding {
    height: 35vh;
    transform: translate3d(0, -100%, 0);
    .portrait {
      width: 150px;
      height: 150px;
    }
  }

  #home {
    text-align: center;
    align-items: center;
    padding: 0.5rem;

    .lg-heading {
      line-height: 1;
      font-size: 3.5rem;
      margin-top: 5vh;
      margin-bottom: 5vh;
    }
    .sm-heading {
      margin-bottom: 20vh;
      font-size: 1.5rem;
    }
  }

  //About Page Medium Screen
  body {
    overflow-x: hidden;
  }
}
// .about {
//   position: fixed;
//   top: 0;
//   width: 100%;
//   text-align: center;
//   align-items: center;
//   padding: 0.5rem;
//   display: flex;
//   flex-direction: column;
//   overflow-x: hidden;
//   overflow-y: auto;
//   h1 {
//     padding-top: 1.2rem;
//   }
//   .lg-heading {
//     line-height: 1;
//     font-size: 3.5rem;
//     margin-top: 5vh;
//     margin-bottom: 5vh;
//   }

//   &-left,
//   &-right {
//     display: flex;
//     flex-flow: column;
//     align-items: center;
//     justify-content: center;
//     width: 100%;
//   }

//   &-left {
//     h3 {
//       padding: 0 0.5rem;
//       text-align: justify;
//     }
//     .bio-text {
//       visibility: visible;
//       transform: translate3d(0, 0, 0);
//       margin-bottom: 4rem;
//     }
//   }

//   &-right {
//     display: flex;
//     flex-direction: column;

//     .eduexp {
//       display: flex;
//       flex-direction: column;
//     }
//   }

//   .edu,
//   .exp {
//     &-items {
//       width: 100vw;
//       display: flex;
//       flex-direction: column;
//       visibility: visible;
//       transform: translate3d(0, 0, 0);
//     }
//     .edu-items {
//       margin-bottom: 3rem;
//     }

//     //Show Titles 'Education and Experience' in Small Screen
//     .eduTitleSm,
//     .expTitleSm {
//       display: flex;
//       font-size: 1.5rem;
//       // margin-top: 5rem;
//       padding-left: 1rem;
//       color: $secondary-color;
//     }
//   }

//   .exp {
//     margin-bottom: 2rem;
//   }

//   //Hide Titles 'Education and Experience' which are in between
//   .bio-btn,
//   .eduAndBtn,
//   .expAndBtn,
//   .works-btn {
//     display: none !important;
//   }
// }

//Works in Small Screen

// .works {
//   position: fixed;
//   top: 0;
//   width: 100%;
//   text-align: center;
//   align-items: center;
//   padding: 0.5rem;
//   display: flex;
//   flex-direction: column;
//   overflow-x: hidden;
//   overflow-y: auto;
//   h1 {
//     padding-top: 1.2rem;
//   }
//   .lg-heading {
//     line-height: 1;
//     font-size: 3.5rem;
//     margin-top: 5vh;
//     margin-bottom: 5vh;
//   }

//   &-left,
//   &-right {
//     display: flex;
//     flex-flow: column;
//     align-items: center;
//     justify-content: center;
//     width: 100%;
//   }

//   &-left {
//     h3 {
//       padding: 0 0.5rem;
//       text-align: justify;
//     }
//     .works-text {
//       visibility: visible;
//       transform: translate3d(0, 0, 0);
//       margin-bottom: 4rem;
//     }
//   }

//   &-right {
//     margin-bottom: 1rem;

//     display: grid;
//     grid-template-columns: repeat(1, 1fr);
//   }
// }

//Contact in Medium Screen

//   .contact {
//     position: fixed;
//     top: 0;
//     width: 100%;
//     text-align: center;
//     align-items: center;
//     padding: 0.5rem;
//     display: flex;
//     flex-direction: column;
//     overflow-x: hidden;
//     overflow-y: auto;
//     &-btn {
//       display: none !important;
//     }
//     h1 {
//       padding-top: 0;
//     }
//     .lg-heading {
//       line-height: 1;
//       font-size: 3.5rem;
//       margin-top: 5vh;
//       margin-bottom: 5vh;
//     }

//     &-left,
//     &-right {
//       display: flex;
//       flex-flow: column;
//       align-items: center;
//       justify-content: center;
//       width: 100%;
//     }

//     &-left {
//       h3 {
//         padding: 0 0.5rem;
//         text-align: justify;
//       }
//       .contact-text {
//         visibility: visible;
//         transform: translate3d(0, 0, 0);
//         margin: 0;
//       }
//     }

//     &-right {
//       margin: 0;

//       form {
//         padding: 0 1rem;
//         margin: 0;
//         width: 90%;
//         .form-item {
//           width: 100%;
//         }
//       }
//     }
//   }
// }

//SMALL------------------------------------------------------------------------------//
@include mediaSm {
  .menu-btn {
    right: 15px;
    top: 20px;
  }

  .toptape {
    height: 3.4rem;
  }

  body#bg-img {
    background: $light-color;
  }
  #home {
    text-align: center;
    align-items: center;
    padding: 0.5rem;

    .lg-heading {
      line-height: 1;
      font-size: 3.5rem;
      margin-top: 5vh;
      margin-bottom: 5vh;
    }
    .sm-heading {
      margin-bottom: 20vh;
      font-size: 1.5rem;
    }
  }

  //About Page Small Screen
  body {
    overflow-x: hidden;
  }

  // .about {
  //   // position: fixed;
  //   // top: 0;
  //   // width: 100%;
  //   // text-align: center;
  //   // align-items: center;
  //   // padding: 0.5rem;
  //   // display: flex;
  //   // flex-direction: column;
  //   // overflow-x: hidden;
  //   // overflow-y: auto;
  //   // h1 {
  //   //   padding-top: 1.2rem;
  //   // }
  //   // .lg-heading {
  //   //   line-height: 1;
  //   //   font-size: 3.5rem;
  //   //   margin-top: 5vh;
  //   //   margin-bottom: 5vh;
  //   // }

  //   // &-left,
  //   // &-right {
  //   //   display: flex;
  //   //   flex-flow: column;
  //   //   align-items: center;
  //   //   justify-content: center;
  //   //   width: 100%;
  //   // }

  //   &-left {
  //     margin-bottom: 11rem;
  //     h3 {
  //       padding: 0 0.5rem;
  //       text-align: justify;
  //     }
  //     .bio-text {
  //       visibility: visible;
  //       transform: translate3d(0, 0, 0);
  //       margin-bottom: 4rem;
  //     }
  //   }

  //   &-right {
  //     // display: flex;
  //     // flex-direction: column;

  //     .eduexp {
  //       display: flex;
  //       flex-direction: column;
  //     }
  //   }

  //   .edu,
  //   .exp {
  //     &-items {
  //       width: 100vw;
  //       display: flex;
  //       flex-direction: column;
  //       visibility: visible;
  //       transform: translate3d(0, 0, 0);
  //     }

  //     //Show Titles 'Education and Experience' in Small Screen
  //     .eduTitleSm,
  //     .expTitleSm {
  //       display: flex;
  //       font-size: 1.5rem;
  //       margin-bottom: 1rem;
  //       padding-left: 1rem;
  //       color: $secondary-color;
  //     }
  //   }

  //   .exp {
  //     margin-bottom: 2rem;
  //   }

  //   //Hide Titles 'Education and Experience' which are in between
  //   .bio-btn,
  //   .eduAndBtn,
  //   .expAndBtn,
  //   .works-btn,
  //   .contact-btn {
  //     display: none !important;
  //   }
  // }

  //Works in Small Screen
  .about,
  .works,
  .contact {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    top: 3.5rem;
    overflow-y: scroll;
    padding: 0 1.5rem 1.5rem 1.5rem;
    height: auto;
  }
  div.about-left,
  div.about-right,
  div.works-left,
  div.works-right,
  div.contact-left,
  div.contact-right {
    float: none;
    width: 100%;
    min-height: 0;
  }
  .about-left,
  .works-left,
  .contact-left {
    height: fit-content;
    .lg-heading {
      padding: 0;
      font-size: 3rem;
      text-align: center;
    }
    h3 {
      margin: 0;
      padding: 0;
    }
    .bio-text,
    .works-text,
    .contact-text {
      padding: 0;
      margin: 0;
      visibility: visible;
      transform: translate3d(0, 0, 0);
      text-align: justify;
      text-align-last: center;
    }
  }
  .about-right,
  .works-right,
  .contact-right {
    display: grid;
    gap: 0.7rem;
    grid-template-columns: 1fr;
    height: fit-content;
    align-items: center;
    justify-content: start;
    margin-top: 1rem;
    width: 100%;
    //About Page//
    .edu,
    .exp {
      &-items {
        display: grid;
        grid-template-columns: 1fr;
        visibility: visible;
        transform: translate3d(0, 0, 0);
      }
      .eduTitleSm,
      .expTitleSm {
        display: grid;
        font-size: 1.5rem;
        margin-bottom: 1rem;
        padding-left: 1rem;
        color: $secondary-color;
      }
    }

    //Contact Page
    form {
      margin-left: 0;
    }
    .form-item {
      width: 100%;
    }
  }

  // Hide Buttons
  .bio-btn,
  .eduAndBtn,
  .expAndBtn,
  .works-btn,
  .contact-btn {
    display: none !important;
  }

  //Show Texts under buttons
  .bio-text,
  .works-text,
  .contact-text {
  }
}
// .works {
//   position: fixed;
//   top: 0;
//   width: 100%;
//   text-align: center;
//   align-items: center;
//   padding: 0.5rem;
//   display: flex;
//   flex-direction: column;
//   overflow-x: hidden;
//   overflow-y: auto;
//   h1 {
//     padding-top: 1.2rem;
//   }
//   .lg-heading {
//     line-height: 1;
//     font-size: 3.5rem;
//     margin-top: 5vh;
//     margin-bottom: 5vh;
//   }

//   &-left,
//   &-right {
//     display: flex;
//     flex-flow: column;
//     align-items: center;
//     justify-content: center;
//     width: 100%;
//   }

//   &-left {
//     h3 {
//       padding: 0 0.5rem;
//       text-align: justify;
//     }
//     .works-text {
//       visibility: visible;
//       transform: translate3d(0, 0, 0);
//       margin-bottom: 4rem;
//     }
//   }

//   &-right {
//     margin-bottom: 1rem;
//     display: grid;
//     grid-template-columns: repeat(1, 1fr);
//   }
// }

//Contact in Smal Screen

//   .contact {
//     position: relative;
//     top: 0;
//     width: 100%;
//     text-align: center;
//     align-items: center;
//     padding: 0.5rem;
//     display: flex;
//     flex-direction: column;
//     overflow-x: hidden;
//     overflow-y: auto;
//     &-btn {
//       display: none !important;
//     }
//     h1 {
//       padding-top: 0;
//     }
//     .lg-heading {
//       line-height: 1;
//       font-size: 3.5rem;
//       margin-top: 5vh;
//       margin-bottom: 5vh;
//     }

//     &-left,
//     &-right {
//       display: flex;
//       flex-flow: column;
//       align-items: center;
//       justify-content: center;
//       width: 100%;
//     }

//     &-left {
//       h3 {
//         padding: 0 0.5rem;
//         text-align: justify;
//       }
//       .contact-text {
//         visibility: visible;
//         transform: translate3d(0, 0, 0);
//         margin: 0;
//       }
//     }

//     &-right {
//       margin: 0;

//       form {
//         padding: 0 1rem;
//         margin: 0;
//         width: 90%;
//         .form-item {
//           width: 100%;
//         }
//       }
//     }
//   }
// }
